.box{
	background-color: #5A2908;
	margin-left: 500px;
	margin-right: 710px;
	border-radius: 10px;
}
.display{
	margin-top: 250px;
	border-radius: 10px;	
}

.keys{
	background-color: gr;
	border-radius: 10px;r
	border: solid;

}

}

.button . black {
	color: white;
	background-color: #bfa969;
}
